.w200 {
    width: 200px !important;
}

.w240 {
    width: 240px !important;
}

.ml16 {
    margin-left: 16px!important;
}

.pt12 {
    padding-top: 12px;
}

.pb22 {
    padding-bottom: 22px;
}

.bold {
    font-weight: bold;
}